.movie_wrap {}

.movies {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 100px;
    box-sizing: border-box;
}

.movies>div {
    width: 18.4%;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
}