.headerwrap {
    padding: 0 100px;
    height: 108px;
    display: flex;
    align-items: center;
}

.headerwrap svg {
    width: 140px;
}

.headerwrap header {}

.headerwrap svg path {
    fill: rgb(229, 9, 20);
}

@media screen and (max-width: 768px) {
    .headerwrap {
        padding: 0 50px;
    }
}

@media screen and (max-width: 425px) {
    .headerwrap {
        padding: 0 20px;
    }
}