.moive_contents {
    position: relative;
    cursor: pointer;
}

.movie_img {
    position: relative;
}

.moive_contents:hover .movie_img img {
    scale: 1.025;
    transition: .3s;
}

.movie_img::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.moive_contents:hover .movie_img::after {
    width: 100%;
    height: 100%;
    background-color: #000000a9;
    border-radius: 15px;
    scale: 1.025;
    transition: .3s;
}

.moive_contents img {
    position: relative;
    border-radius: 15px;
}

.moive_contents:hover .movie_tit {
    display: block;
    transition: .3s;
}

.movie_tit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    transition: .3s;
    text-align: center;
}

.moive_contents h2 {
    padding-top: 5px;
}

.moive_contents ul {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    font-size: 0.875rem;
}